[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aedl"]
	path = aedl
	url = https://github.com/cran/aedl
[submodule "rmstBayespara"]
	path = rmstBayespara
	url = https://github.com/keisuke-hanada/rmstbayespara
